.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: $black;
  font-family: $font-one;
  color: $white;
  padding: 1rem;
  @include tablet {
    padding-left: 0;
  }
  .nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1090px;
    margin: auto;
    .name, .code, .links {
      position: relative;
    }
    .name {
      margin-right: auto;
      animation: slide-right .5s ease-in;
      @include tablet {
        margin: 0;
      }
      h2 {
        @include tablet {
          margin-left: 1rem;
        }
      }
      a {
        color: $white;
        text-decoration: none;
      }
    }
    .code {
      font-size: 2rem;
      margin: auto;
      animation: slide-down 1s ease-in;
    }
    .links {
      transition: .4s ease-in;
      animation: slide-left .5s ease-in;
      @include tablet {
        display: none;
        animation: none;
        &.click {
          display: block;
          position: absolute;
          background-color: $black;
          top: 68px;
          width: 100%;
          text-align: center;
          a {
            display: block;
          }
        }
      }
      a {
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1.4rem;
        transition: color .4s ease-in;
        &:hover {
          color: $orange;
        }
      }
    }
    .nav-icon {
      display: none;
      height: 35px;
      width: 50px;
      position: relative;
      cursor: pointer;
      top: 5px;
      @include tablet {
        display: block;
      }
      span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        border-radius: 7px;
        background-color: $white;
        transform: rotate(0deg);
        transition: .2s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
      &.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
      }
      &.open span:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}

@keyframes slide-down {
  0% {
    top: -90px;
  }
  100% {
    top: 0;
  }
}

@keyframes slide-left {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slide-right {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
